<!-- Validation failure messages -->

<% if @schedule.errors.any? %>
  <% @schedule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Schedule #<%= @schedule.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_schedule/<%= @schedule.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
<!--           <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @schedule.user_id %>">
            </div>
          </div> -->

          <!-- Label and input for start_time -->
          <div class="form-group">
            <label for="start_time" class="col-sm-2 control-label">
              Time I'll Leave Home
            </label>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" name="start_time" id="start_time" value="<%= @schedule.start_time %>">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <!-- Label and input for end_time -->
          <div class="form-group">
            <label for="end_time" class="col-sm-2 control-label">
              Time I'll Be Back
            </label>
            <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" name="end_time" id="end_time" value="<%= @schedule.end_time %>">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Schedule
              </button>
              or
              <a href="/schedules/<%= @schedule.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>


